
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-ctn {
    display: flex;
    justify-content: center;
}

.image-ctn {
    display: flex;
    flex-direction: row;
}

.image-ctn img {
    object-fit: contain;
    background-color: black;
    height: 547px;
    min-width: 820px;
}

.picture-frame {
    width: 820px;
    overflow-x: scroll;
    border: 2px solid red;
}